<div class='page'>
<div id="container">
    <div v-for="(todo,tid) in todos" v-show="todo.visible == todo.id" >
      <div v-for="(option,index) in todo.option" >
          <span v-if="index == 0 ">{{todo.id}}. {{ todo.name }}</span>
        <div class='input'>
         <input type="radio" id="option.answer" v-bind:name="option.answer"  v-bind:value="option.id" v-model="todo.picked" v-on:click="check(option.id,tid,todo,todos[tid+1])" :checked = 'option.id == todo.picked'>
  <label> {{option.answer}}</label>
  <br>
          </div>
        
      
     </div>
<!--       <span>Picked: {{ todo.picked }}</span> -->
        <div>
          <span v-if="tid != 0 ">  <button v-on:click="pre(tid,todo,todos[tid-1])" class='action-button'>prev</button> </span>
          
       <span v-if="tid != todos.length -1 ">  <button v-on:click="next(tid,todo,todos[tid+1])" class='action-button'>next</button> </span>
          
         </div>
    </div> 

        <span v-for="todo in todos" >
          {{todo.picked}}
      </span>
      
   <div class='result'>{{checkChoose}}</div>
   <span v-if="CWAry.includes(r2)">CW</span>
   <span v-if="SWAry.includes(r2)">SW</span>
   <span v-if="EEAry.includes(r2)">EE</span>
   <span v-if="IGSAry.includes(r2)">IGS</span>
   <span v-if="ErrChoose.includes(r2)">no answer</span>
</div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;

}

html,body{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  font-size: 14px;
}

.page {
  width: '80%';
  padding: 8% 0 0;
  margin: auto;
}

#container{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: '80%';
  margin: 0 auto 100px;
  padding: 5px;
 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.input{
  padding: 2px;
}
.action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

</style>
<script>
  var container = new Vue({
  el: '#container',
  data: {
    r1:'',
    r2:'',
    CWAry:[],
    SWAry:[],
    EEAry:[],
    IGSAry:[],
    ErrChoose:[],
    todos: [
      { 
        id: 1,
        name:'Do you have a valid job offer from a PEI employer?',
        picked:'',
        visible:1,
        option:
          [{ 
            id: '1a',
            answer:'Yes'
         
          },
          { 
            id:'1b',
            answer:'No'
            
          }
        ]
      },
      { 
        id: 2,
        name:'What is your highest education level?',
        picked:'',
        visible:'',
        option:
          [{ 
            id: '2a',
            answer:'Lower than secondary'
          },
          { 
            id:'2b',
            answer:'Secondary'
          },
          { 
            id:'2c',
            answer:'Post-secondary and above'
          }
        ]
      },
       { 
        id: 3,
        name:'Where have you completed the most recent post seondary education?',
        picked:'',
        visible:'',
        option:
          [{ 
            id: '3a',
            answer:"PEI Post-secondary institution (PEI, Holland College, College de I'ile)"
          },
          { 
            id:'3b',
            answer:'Other provinces outside PEI'
          },
          { 
            id:'3c',
            answer:'Outside Canada'
          }
        ]
      },
      { 
        id: 4,
        name:'What is the NOC of your current full-time employment/ job offer from the PEI employer?',
        picked:'',
        visible:'',
        option:
          [{ 
            id: '4a',
            answer:'under O,A,B '
          },
          { 
            id:'4b',
            answer:'under C or D'
          }
        ]
      },
       { 
        id: 5,
        name:'How many years of work experience do you have?',
        picked:'',
        visible:'',
        option:
          [{ 
            id: '5a',
            answer:'less than 1 year'
          },
          { 
            id:'5b',
            answer:'1 year'
          },
          { 
            id:'5c',
            answer:'2 years'
          },
          { 
            id:'5d',
            answer:'more than 2 years'
          }
        ]
      },
      { 
        id: 6,
        name:'What is the NOC of your previous work experience?',
        picked:'',
        visible:'',
        option:
          [{ 
            id: '6a',
            answer:'O, A or B'
          },
          { 
            id:'6b',
            answer:'C or D'
          },
          { 
            id:'6c',
            answer:'None'
          }
        ]
      },
     
    ]
  },
  methods: {
    check: function (name,tid,todo,next) {
      if(name=='1b'){
        //this.r1='You must be living and working in PEI to be eligible to apply.'
       Swal.fire({
        type: 'error',
        title: 'Oops...',
        text: 'You must be living and working in PEI to be eligible to apply.',
      })
        
      }else if (name=='2a'){
      //   this.r1='You are ineligible to apply for any of our programs'
       Swal.fire({
        type: 'error',
        title: 'Oops...',
        text: 'You are ineligible to apply for any of our programs',
      })
      }else{
         if(next){
           next.visible = next.id 
           todo.visible = null
        }
      }
    },
    
    pre: function(tid,todo,pre){
      // console.log(todo)
     
       if(pre){
           pre.visible = pre.id 
           todo.visible = null
        }
  
    },
    
    next: function(tid,todo,next){
      if(todo.picked == ""){
           Swal.fire({
        type: 'error',
        title: 'Oops...',
        text: 'Please choose answer!',
      })
      }else{
          if(next){
           next.visible = next.id 
           todo.visible = null
        }
      }
    }
 
  },
    mounted : function () {
             
       function doExchange(arr){
        var len = arr.length;
        if(len >= 2){
            var len1 = arr[0].length;
            var len2 = arr[1].length;
            var lenBoth = len1 * len2;
            var items = new Array(lenBoth);
            var index = 0;
            for(var i=0; i<len1; i++){
                for(var j=0; j<len2; j++){
                    items[index] = arr[0][i] + arr[1][j];
                    index++;
                }
            }
            var newArr = new Array(len -1);
            for(var i=2;i<arr.length;i++){
                newArr[i-1] = arr[i];
            }
            newArr[0] = items;
            return doExchange(newArr);
        }else{
            return arr[0];
        }
    }

    var parents = [['1a'], ['2b', '2c'], ['3a', '3b','3c'], ['4a', '4b'], ['5a', '5b','5c','5d'],['6a','6b','6c']];
    var CW = [['1a'], ['2b'], ['3a', '3b','3c'], ['4b'], ['5a', '5b','5c','5d'],['6a','6b']];
  var SW =  [['1a'], ['2c'], ['3a', '3b','3c'], ['4a'], ['5c','5d'],['6a','6b']];
  var EE =  [['1a'], ['2a'], ['3a', '3b','3c'], ['4a'], ['5a','5b','5c','5d'],['6a']];
  var IGS =  [['1a'], ['2b'], ['3a'], ['4a', '4b'], ['5a', '5b','5c','5d'],['6a','6b','6c']];
   //
// 2b,3abc, 4b, 5abcd, 6ab,   CW
// 2c,3abc, 4a, 5cd, 6ab,   SW
// 2a, 3abc, 4a, 5bcd, 6a,  EE
// 2b, 3a, 4ab, 5abcd, 6abc IGS
  var parentsAry = doExchange(parents);
  var CWAry = doExchange(CW);
  var SWAry = doExchange(SW);
  var EEAry = doExchange(EE);
  var IGSAry = doExchange(IGS);
  this.CWAry = CWAry
  this.SWAry = SWAry
  this.EEAry = EEAry
  this.IGSAry = IGSAry
  var CW1 =  parentsAry.filter(function(v){ return CWAry.indexOf(v) == -1 });
  var SW1 =  CW1.filter(function(v){ return SWAry.indexOf(v) == -1 });
  var EE1 =  SW1.filter(function(v){ return EEAry.indexOf(v) == -1 });
  var IGS =  EE1.filter(function(v){ return IGSAry.indexOf(v) == -1 });

  this.ErrChoose = IGS
 // console.log(IGS)
   },
  computed: {
   checkChoose () {
     this.r2 = ''
       this.todos.forEach((item, index) => {
           if(item.picked!=''){
             this.r2 = this.r2 + item.picked
           }
        })
  }
}

})


</script>