<div class="row">
  <div class="col-md-12">
    <div class="portlet light portlet-fit portlet-form bordered">
      <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">修改信息</span>
        </div>
      </div>
      <div class="portlet-body">
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $("#news").addClass("active");
  $("#news").parents(".nav-item").addClass("active open")
  $("#news_link").append("<span class='selected'></span>")
</script>
