<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="footer">
	<div class="scroll-to-top">
	  <i class="fas fa-angle-double-up"></i>
	</div>
</div>


<style media="screen">
.scroll-to-top{
		padding: 1px;
		text-align: center;
		position: fixed;
		bottom: 10px;
		z-index: 10001;
		cursor: pointer;
}

</style>
<script type="text/javascript">
$(".scroll-to-top").click(function() {
	  $("html,body").animate({"scrollTop":0})
	})
</script>
