<div class="header">
	<div class="logo">
		<div class="logoName"><a href="<%= root_url%>">  <i class=" icon-note"></i>Creek</a></div>
	</div>
	<div class="menu">
		<ul>
			<li>
			 	<a href="<%= root_url%>">Home</a>
			</li>
			<!-- <li>
				<a href="<%= articles_path %>">Blog</a>
			</li> -->
			<!-- <li>Portfolio</li> -->
			<li><a href="<%= path_path%>">Path</a></li>
			<!-- <li><a href="">Reading</a></li> -->
		</ul>
	</div>
</div>
