@import common


[class^='route']
	padding: 20px
	display: flex
	margin: 20px
	border: 1px solid black
	justify-content: space-between
	.active
		color: red
	ul
		display: flex
		flex-direction: column
		list-style: none
		li
			span
				font-size: 10px


.main

	.path
		display: flex
		justify-content: space-between
		padding: 20px
		margin: 20px
